<%= form_with(model: like_post) do |form| %>
  <% if like_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(like_post.errors.count, "error") %> prohibited this like_post from being saved:</h2>

      <ul>
        <% like_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
